<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
  </head>
  <body ontouchstart>
    <div id="app">
      <header>
        <img
          src="images/BMI_Logo.png"
          alt="BMI_LOGO"
          width="117"
          height="117"
        />
        <div class="form">
          <label for="height">身高 cm</label>
          <input type="text" id="height" placeholder="請輸入身高" />
          <label for="weight">體重 kg</label>
          <input type="text" id="weight" placeholder="請輸入體重" />
        </div>
        <button type="button" id="result" class="btn">
          <p id="bmiValue" class="bmiValue">看結果</p>
          <p id="bmiText"></p>
          <div id="buttonIcon" class="icon"></div>
        </button>
        <span id="statusText"></span>
      </header>
      <section class="container">
        <div class="title">BMI 紀錄</div>
        <ul class="list"></ul>
      </section>
      <footer>
        <img
          src="images/BMI_Footer_Logo.png"
          alt="BMI_FOOTER"
          width="55"
          height="55"
        />
      </footer>
    </div>
  </body>
</html>
